<header class="py-2 px-6">
    <div class="flex justify-between items-center w-full">
        <div class="flex justify-start items-center">
            {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        </div>
        
        <nav class="flex items-center">
            {{ range .Translations }}
                <a href="{{ .RelPermalink }}" class="text-xs uppercase tracking-widest transition-all duration-150 hover:text-pink-300">
                    {{ if eq .Language.Lang "en" }}中文{{ else }}English{{ end }}
                </a>
            {{ end }}
        </nav>
    </div>
</header>